In [30]:
import pandas as pd
import numpy as np

from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
import re

import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\KRISHNA
[nltk_data]     PRAKASH\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [31]:
df = pd.read_csv("twitterData.csv", encoding='ISO-8859-1')

In [32]:
df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [33]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

##Data processing

In [34]:
df.columns = ['target', 'id', 'date', 'flag', 'user', 'text']

In [35]:
df.head(5)

,target,id,date,flag,user,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [36]:
df.drop(columns = ['id','date', 'flag', 'user'], inplace=True)

In [37]:
df.tail(5)

         target                                               text
1599994       4  Just woke up. Having no school is the best fee...
1599995       4  TheWDB.com - Very cool to hear old Walt interv...
1599996       4  Are you ready for your MoJo Makeover? Ask me f...
1599997       4  Happy 38th Birthday to my boo of alll time!!! ...
1599998       4  happy #charitytuesday @theNSPCC @SparksCharity...

In [38]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [39]:
len(df)

1599999

In [40]:
df.dropna(how='all')

         target                                               text
0             0  is upset that he can't update his Facebook by ...
1             0  @Kenichan I dived many times for the ball. Man...
2             0    my whole body feels itchy and like its on fire
3             0  @nationwideclass no, it's not behaving at all....
4             0                      @Kwesidei not the whole crew
...         ...                                                ...
1599994       4  Just woke up. Having no school is the best fee...
1599995       4  TheWDB.com - Very cool to hear old Walt interv...
1599996       4  Are you ready for your MoJo Makeover? Ask me f...
1599997       4  Happy 38th Birthday to my boo of alll time!!! ...
1599998       4  happy #charitytuesday @theNSPCC @SparksCharity...

[1599999 rows x 2 columns]

In [41]:
print(df.isnull().sum())

target    0
text      0
dtype: int64

In [42]:
df.shape

(1599999, 2)

In [43]:
df = df.dropna().reset_index(drop=True)

In [44]:
df.isnull().sum()

target    0
text      0
dtype: int64

In [45]:
df.tail(5)

         target                                               text
1599994       4  Just woke up. Having no school is the best fee...
1599995       4  TheWDB.com - Very cool to hear old Walt interv...
1599996       4  Are you ready for your MoJo Makeover? Ask me f...
1599997       4  Happy 38th Birthday to my boo of alll time!!! ...
1599998       4  happy #charitytuesday @theNSPCC @SparksCharity...

In [46]:
df['target'].value_counts()

target
4    800000
0    799999
Name: count, dtype: int64

In [47]:
df.replace({'target':{4:1}}, inplace = True)

In [48]:
df.tail(6)

         target                                               text
1599993       1  @Cliff_Forster Yeah, that does work better tha...
1599994       1  Just woke up. Having no school is the best fee...
1599995       1  TheWDB.com - Very cool to hear old Walt interv...
1599996       1  Are you ready for your MoJo Makeover? Ask me f...
1599997       1  Happy 38th Birthday to my boo of alll time!!! ...
1599998       1  happy #charitytuesday @theNSPCC @SparksCharity...

In [49]:
stemmer = PorterStemmer()

def stemming(data):
    stemmed_data = re.sub('[^a-zA-Z]',' ', data)
    stemmed_data = stemmed_data.lower().split()
    stemmed_data = [stemmer.stem(word) for word in stemmed_data if word not in stopwords.words('english')]
    stemmed_data = ' '.join(stemmed_data)
    return stemmed_data


df['stemmed_text'] = df['text'].apply(stemming)

KeyboardInterrupt:

In [ ]:
df.tail()
df.to_csv('./data/stemmed_data.csv', index=False)

In [ ]:
X = df['stemmed_text'].values
Y = df['target'].values

X.shape
Y.shape

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2, stratify=Y, random_state=8)

In [ ]:
print(X_train.shape, Y_train.shape, X_test.shape, Y_test.shape)

In [ ]:
vectorizer = TfidfVectorizer()
 
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [ ]:
model = DecisionTreeRegressor()

model.fit(X_train, Y_train)

In [ ]:
X_predict = model.predict(X_test)
accuracy = accuracy_score(Y_test, X_predict)
accuracy

In [ ]:
X_predict = model.predict(X_test)
accuracy_2 = accuracy_score(Y_test, X_predict)
accuracy_2